<html data-ng-app="organizationModule">

	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	    <title>Organization</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-slate.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/App/Organization/organization-module.js"></script>
        @RenderSection("JavascriptInHead", required:false)
    </head>
	<body>
        @RenderBody()
	</body>
</html>
