<div class="row">
    <div class="span10">
        <h2>Auction: Home - Test</h2>
        <h3>[{{ message }}]</h3>
    </div>
</div>
<!--<div class="row">
    <div class="col-lg-10">
        <h3>Welcome to the Auction Company Site.</h3>

        <p>Some blurb.  Some blurb.  Some blurb.  Some blurb.  Some blurb.  Some blurb.  Some blurb.  Some blurb.  Some blurb.</p>
        <p><small>This line of text is meant to be treated as fine print.</small></p>
        <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
        <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
    </div>
</div>
-->

